<div class="section section-breadcrumbs">
	<div class="container"><h1 translate="HOME"></h1></div>
</div>

<div class="container">
	<div class="row">
		<div class="container tealBg">
			<h3 style="color: white">
				<span translate="OUR_SERVICES"></span>
				<button type="button" class="btn btn-sm pull-right" ui-sref="site.services">
					<span class="fa fa-arrow-right"></span>
					<span translate="VIEW_ALL"></span>
				</button>
			</h3>
		</div>
		<div class="eshop-section section">
			<div class="container">
				<services-list services="vm.services" limit="4"></services-list>
			</div>
		</div>
		<br>
	</div>
	
	<div class="row">
		<div class="container indigoBg">
			<h3 style="color: white">
				<span translate="OUR_PRODUCTS"></span>
				<button type="button" class="btn btn-sm pull-right" ui-sref="site.products">
					<span class="fa fa-arrow-right"></span>
					<span translate="VIEW_ALL"></span>
				</button>
			</h3>
		</div>
		<div class="eshop-section section">
			<div class="container">
				<products-list products="vm.products" limit="4"></products-list>
			</div>
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="row text-center"><label for="subscriptions"><b translate="SUBSCRIBE"></b></label></div>
			<div class="row">
				<div class="input-group" ng-disabled="!!vm.lockNewsletter">
					<input type="text"
					       id="subscriptions"
					       class="form-control"
					       ng-pattern="vm.regexes.email"
					       ng-model="vm.newsletter.email"
					       placeholder="¡Ingresa tu correo electrónico!">
					<span class="input-group-addon btn-blue mousePointer"
					      ng-click="vm.addToNewsletter(vm.newsletter.email)"
					      translate="SEND"></span>
				</div>
			</div>
		</div>
	</div>
</div>
