<div class="row" ng-repeat="report in vm.reports track by report.id">
	<div style="margin: 5px 10px 5px 10px; padding: 20px 10px 20px 10px"
	     ng-style="{'background-color': report.style.background, 'color': report.style.text}">
		<span ng-bind="report.name"></span>
		<button ng-style="{'background-color': report.style.button, 'border': report.style.button}" class="btn btn-xs pull-right" ng-click="report.function()">
			<span class="fa fa-print"></span> Imprimir
		</button>
	</div>
</div>