<div class="row">
	<div class="col-sm-4 pull-left"><h4>Configuración de Usuarios</h4></div>
	<div class="col-sm-4 pull-right">
		<input type="text" class="form-control" ng-model="vm.filter.name" placeholder="Buscar usuario...">
	</div>
	<div class="col-sm-4 pull-right">
		<select name="orderBy"
		        id="orderBy"
		        class="form-control"
		        ng-init="vm.filter.orderBy = 'role'"
		        ng-model="vm.filter.orderBy">
			<option value="" selected disabled>{{"ORDER_BY" | translate}}</option>
			<option value="name">Nombre</option>
			<option value="role">Rol</option>
			<option value="state">Estado</option>
		</select>
	</div>
</div>

<div class="row">
	<div class="table-responsive">
		<table class="table table-striped table-hover table-condensed">
			<thead>
			<th class="text-center">Nombre</th>
			<th class="text-center">Rol</th>
			<th class="text-center">Correo</th>
			<th class="text-center">Acciones</th>
			</thead>
			<tbody>
			<tr ng-repeat="user in vm.users | filter: vm.filter.name | orderBy: vm.filter.orderBy track by $index"
			    data-toggle="modal"
			    data-target="#getUserDataModal">
				<td class="mousePointer" ng-click="vm.getUserData(user)">
					<span ng-bind="user.name+' '+user.lastname | limitTo: 25"></span>
					<span ng-if="(user.name + user.lastname) > 25">...</span>
				</td>
				<td class="mousePointer" ng-click="vm.getUserData(user)">
					<span ng-switch="user.role">
						<span class="label label-green" ng-switch-when="admin">Administrador</span>
						<span class="label label-purple" ng-switch-when="operator">Operador</span>
						<span class="label label-yellow" ng-switch-when="technician">Técnico</span>
						<span class="label label-blue" ng-switch-default>Cliente</span>
					</span>
				</td>
				<td class="mousePointer" ng-click="vm.getUserData(user)">
					<span ng-bind="user.email"></span>
				</td>
				<td data-toggle="modal">
					<span class="fa fa-lg fa-times-circle text-danger"
					      data-toggle="tooltip"
					      title="Deshabilitado"
					      ng-if="!user.enabled"
					      ng-click="vm.changeProductStatus(user.id)"></span>
					<span class="fa fa-lg fa-check-circle text-success"
					      data-toggle="tooltip"
					      ng-if="user.enabled"
					      title="Habilitado"
					      ng-click="vm.changeProductStatus(user.id)"></span>
					<span class="fa fa-lg fa-edit text-warning"
					      data-toggle="tooltip"
					      title="Modificar"
					      ng-click="vm.getUserData(user)"></span>
					<span class="fa fa-lg fa-eye"
					      data-toggle="tooltip"
					      title="Ver detalles"
					      ng-click="vm.getUserData(user)"></span>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- User Modal -->
<div id="getUserDataModal" class="modal fade slideDown" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
				<h4 class="modal-title">
					Información de Usuario <span class="label label-purple" ng-if="vm.disableModal">modo lectura</span>
				</h4>
			</div>
			<div class="modal-body">
				<div>
					<i class="fa fa-hashtag text-danger text-muted"></i> <b>Nombre:</b>
					<span ng-bind="(vm.user.name+' '+vm.user.lastname)"></span>
				</div>
				<div>
					<i class="fa fa-hashtag text-danger text-muted"></i> <b>Documento de identificación:</b>
					<span ng-bind="(vm.user.id.type+'-'+vm.user.id.number)"></span>
				</div>
				<div>
					<i class="fa fa-hashtag text-danger text-muted"></i> <b>Correo electrónico:</b>
					<span ng-bind="vm.user.email"></span>
				</div>
				<div>
					<label for="role">
						<i class="fa fa-hashtag text-danger text-muted"></i> <b>Tipo de usuario:</b>
					</label>
					<select id="role"
					        name="role"
					        ng-model="vm.user.role"
					        ng-options="role.value as role.name for role in vm.roles">
					</select>
				</div>
				<div>
					<i class="fa fa-hashtag text-danger text-muted"></i> <b>Edad:</b>
					<span ng-bind="vm.timeSince(vm.user.birthdate)"></span> años
				</div>
				<div>
					<i class="fa fa-hashtag text-danger text-muted"></i> <b>Teléfono:</b>
					<span ng-bind="(vm.user.phone.preffix)+'-'+(vm.user.phone.number)"></span>
				</div>
				<div>
					<i class="fa fa-hashtag text-danger text-muted"></i> <b>Fecha de registro:</b>
					<span ng-bind="vm.user.registerDate | date: 'dd/MM/yyyy'"></span>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-green"
				        data-dismiss="modal"
				        ng-click="vm.saveUser(vm.user)"
				        ng-if="!vm.disableModal"
				        ng-disabled="userDataForm.$invalid">Guardar</button>
				<button class="btn btn-warning"
				        data-dismiss="modal">Salir</button>
			</div>
		</div>
	
	</div>
</div>
