<div class="row">
	<div class="col-sm-5 pull-left"><h4>Lista de Productos</h4></div>
	<div class="col-sm-5 pull-right">
		<input type="text" class="form-control" ng-model="vm.filter" placeholder="Buscar producto...">
	</div>
</div>

<div class="row">
	<loader arr="vm.products"></loader>
	<div class="table-responsive" ng-if="vm.products.length">
		<table class="table table-striped table-hover table-condensed">
			<thead>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Precio (Bs.)</th>
			<th>Stock</th>
			<th>Acciones</th>
			</thead>
			<tbody>
			<tr ng-repeat="item in vm.products | filter: vm.filter track by item.id"
			    class="mousePointer">
				<td ng-click="vm.getProductData(item, true)"
				    data-toggle="modal"
				    data-target="#getProductDataModal"><span ng-bind="item.name | maxLength: 15"></span></td>
				<td ng-click="vm.getProductData(item, true)"
				    data-toggle="modal"
				    data-target="#getProductDataModal"><span ng-bind="item.description | maxLength: 25"></span>
				</td>
				<td ng-click="vm.getProductData(item, true)"
				    ng-bind="vm.thousandSeparator(item.price)"
				    data-toggle="modal"
				    data-target="#getProductDataModal"></td>
				<td ng-click="vm.getProductData(item, true)"
				    data-toggle="modal"
				    data-target="#getProductDataModal">
					<span ng-bind="vm.thousandSeparator(item.stock.quantity)"></span>
					<span ng-bind="item.stock.type"></span>
				</td>
				<td>
					<div class="btn-group-xs">
						<button type="button"
						        class="btn btn-red"
						        title="Deshabilitado"
						        data-toggle="tooltip"
						        ng-if="!item.enabled"
						        ng-click="vm.changeProductStatus(item.id)"><i class="fa fa-lg fa-times-circle"></i></button>
						<button type="button"
						        class="btn btn-green"
						        title="Habilitado"
						        data-toggle="tooltip"
						        ng-if="item.enabled"
						        ng-click="vm.changeProductStatus(item.id)"><i class="fa fa-lg fa-check-circle"></i></button>
						<button type="button"
						        class="btn btn-orange"
						        title="Modificar"
						        data-toggle="modal"
						        data-target="#getProductDataModal"
						        ng-click="vm.getProductData(item, false)"><i class="fa fa-lg fa-pencil-square"></i></button>
						<button type="button"
						        class="btn btn-grey"
						        title="Ver detalles"
						        data-toggle="modal"
						        data-target="#getProductDataModal"
						        ng-click="vm.getProductData(item, true)"><i class="fa fa-lg fa-eye"></i></button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row pullDown">
	<p class="text-info mousePointer pull-right"
	   style="padding-right: 18px"
	   data-toggle="modal" data-target="#getProductDataModal"
	   ng-click="vm.getProductData({})"><span class="fa fa-plus-circle"></span> Nuevo producto
	</p>
	<p class="text-info mousePointer pull-right"
	   style="padding-right: 18px"
	   data-toggle="modal" data-target="#categoryModal"
	   ng-click="vm.getAllCategories()"><span class="fa fa-sitemap"></span> Lista de categorías
	</p>
</div>

<!-- Product Modal -->
<div id="getProductDataModal" class="modal fade fadeIn" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
				<h4 class="modal-title">
					Información de Producto <span class="label label-purple" ng-if="vm.disableProductModal">modo lectura</span>
				</h4>
			</div>
			<div class="modal-body">
				<form name="createProduct" role="form" novalidate ng-disabled="true">
					<fieldset ng-disabled="vm.disableProductModal">
						<div class="form-group">
							<label for="productName">
								<i class="fa fa-hashtag text-danger text-muted"></i> <b>Nombre</b>
								<small class="text-danger">*</small>
							</label>
							<input class="form-control"
							       type="text"
							       id="productName"
							       name="productName"
							       ng-model="vm.product.name"
							       ng-pattern="vm.regexes.alphanumeric_255"
							       required>
						</div>
						<div class="form-group">
							<label for="productDescription">
								<i class="fa fa-ellipsis-h text-info"></i> <b>Descripción</b>
								<small class="text-danger">*</small>
							</label>
							<textarea class="form-control"
							          id="productDescription"
							          name="productDescription"
							          ng-model="vm.product.description"
							          ng-pattern="vm.regexes.description"
							          required></textarea>
						</div>
						<div class="form-group">
							<label for="productPrice">
								<i class="fa fa-cubes text-warning"></i> <b>Inventario</b>
								<small class="text-danger">*</small>
							</label>
							<div class="row">
								<div class="col-sm-5">
									<input type="number"
									       min="0"
									       class="form-control"
									       id="productStock"
									       name="productStock"
									       ng-model="vm.product.stock.quantity"
									       ng-pattern="vm.regexes.numeric_255"
									       required>
								</div>
								<div class="col-sm-7">
									<select name="productStockType"
									        id="productStockType"
									        ng-model="vm.product.stock.type"
									        class="form-control"
									        required>
										<option value="" disabled selected>Selecciona un tipo de presentación...</option>
										<option value="Unidades">Unidad(es)</option>
										<option value="Cajas">Caja(s)</option>
										<option value="Kits">Kit(s)</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="productPrice">
								<i class="fa fa-usd text-success"></i> <b>Precio (Bs.)</b>
								<small class="text-danger">*</small>
							</label>
							<input class="form-control"
							       type="text"
							       id="productPrice"
							       name="productPrice"
							       ng-model="vm.product.price"
							       ng-pattern="vm.regexes.price"
							       required>
						</div>
						<div class="form-group">
							<label for="productType">
								<i class="fa fa-sitemap text-warning"></i> <b>Categoría</b>
								<small class="text-danger">*</small>
							</label>
							<select name="productType"
											id="productType"
											class="form-control"
											ng-options="cat.name as cat.name for cat in vm.categories track by $index"
											ng-model="vm.product.category"
											required>
								<option value="" selected>Selecciona una categoría...</option>
							</select>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-md btn-info"
				        data-dismiss="modal"
				        ng-click="vm.setProductData(vm.product)"
				        ng-if="!vm.disableProductModal"
				        ng-disabled="createProduct.$invalid">Guardar</button>
				<button class="btn btn-md btn-warning"
				        data-dismiss="modal">Salir</button>
			</div>
		</div>
	
	</div>
</div>

<!-- Category Modal -->
<div id="categoryModal" class="modal fade slideDown" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
				<h4 class="modal-title">Categorías de Producto</h4>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table table-striped table-hover table-condensed">
						<thead>
						<tr>
							<th>Categoría</th>
							<th>Acciones</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in vm.categories track by $index">
							<td ng-bind="item.name | maxLength: 15"></td>
							<td>
								<button type="button"
								        class="btn btn-xs btn-red"
								        title="Eliminar"
								        data-toggle="tooltip"
								        ng-click="vm.manageCategories('delete', item)"><i class="fa fa-lg fa-times-circle"></i>
					      </button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row"><div class="col-xs-12"><h4 class="pull-left">Nueva categoría</h4></div></div>
				<div class="row">
					<div class="col-sm-9">
						<input type="text" 
									 class="form-control"
									 ng-model="vm.category.name"
									 ng-pattern="vm.regexes.name"
									 placeholder="Nombre de la categoría...">
					</div>
					<div class="col-sm-3">
						<button type="button"
										class="btn btn-block btn-green"
										ng-disabled="!vm.regexes.name.test(vm.category.name) || !vm.category.name"
										ng-click="vm.manageCategories('add', vm.category); vm.category = {}">Guardar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
