<!-- https://stackoverflow.com/questions/19800008/create-horizontally-scrolling-list-item-view-using-bootstrap-columns -->
<div class="col-md-3"
     ng-repeat="service in services | filter: {'name': name, 'category': category, 'enabled': true} | limitTo: limit | orderBy: order track by service.id"
     ng-if="service.enabled">
	<div class="shop-item">
		<div class="image">
			<a ng-href="#/services/{{service.id}}"><img ng-src="{{service.image}}" width="69px" height="58px" alt="{{service.name}}"></a>
		</div>
		<div class="title">
			<h3><a ng-href="#/services/{{service.id}}" ng-bind="service.name | titleCase"></a></h3>
		</div>
		<div class="price" ng-if="false">
			<!-- should be adjustable, from the Panel -->
			<p ng-bind="service.price | currency: 'Bs. '"></p>
		</div>
		<div class="description">
			<span ng-bind="service.description | maxLength: 70"></span>
		</div>
		<div class="bottom">
			<div class="actions">
				<button class="btn btn-sm"
				        ng-if="!vm.itemInCart(service.id)"
				        ng-click="vm.quickAddToCart(service, 1)">
					<i class="glyphicon glyphicon-shopping-cart icon-white"></i>
					{{"ADD" | translate}}
				</button>
				<button class="btn btn-sm btn-orange"
				        ng-if="vm.itemInCart(service.id)"
				        ng-click="vm.quickRemoveFromCart(service.id)">
					<i class="fa fa-shopping-cart"></i> {{"ADD" | translate}}
				</button>
				<span> {{"OR" | translate}} <a ui-sref="site.services.details({productId: service.id})"><b translate="READ_MORE"></b></a></span>
			</div>
		</div>
		<div class="clearfix visible-lg" ng-if="($index+1)%4 === 0"></div>
		<div class="clearfix visible-md" ng-if="($index+1)%4 === 0"></div>
		<div class="clearfix visible-sm" ng-if="($index+1)%6 === 0"></div>
		<div class="clearfix visible-xs" ng-if="($index+1)%12 === 0"></div>
	</div>
</div>

<div class="center-block label label-red slideDown" ng-if="!(services | filter: {'name': name, 'category': category, 'enabled': true}).length">
	<br>
	<p>{{"WE_ARE_SORRY" | translate}},</p>
	<p>{{"NO_ITEMS_AVAILABLE" | translate}}.</p>
</div>