<div class="section section-breadcrumbs">
	<div class="container"><h1>Carrito de compras</h1></div>
</div>

<div class="container whiteCard">
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<thead>
				<th>Artículo</th>
				<th>Precio unitario (Bs.)</th>
				<th>Cantidad</th>
				<th>Subtotal (Bs.)</th>
				<th>Acciones</th>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.items | filter: vm.filter track by item._id"
				    data-toggle="modal"
				    data-target="#getProductDataModal">
					<td ng-bind="item._name"></td>
					<td ng-bind="vm.thousandSeparator(item._price)"></td>
					<td>
						<button type="button"
						        class="btn btn-xs btn-red keep-space"
						        data-toggle="tooltip"
						        title="Remover una unidad"
						        ng-show="item._quantity>1"
						        ng-click="vm.modifyQuantity(item._id, false)">
							<span class="fa fa fa-minus-square"></span>
						</button>
						<span>
							<span ng-bind="item._quantity"></span><span ng-bind="'/'+item._data.stock.quantity+' '+item._data.stock.type" ng-if="item._data.stock"></span>
							<span ng-if="!item._data.stock">(servicio)</span>
						</span>
						<button type="button"
						        class="btn btn-xs btn-green mousePointer keep-space"
						        data-toggle="tooltip"
						        title="Añadir una unidad"
						        ng-show="item._quantity<item._data.stock.quantity"
						        ng-click="vm.modifyQuantity(item._id, true)">
							<span class="fa fa fa-plus-square"></span>
						</button>
					</td>
					<td ng-bind="vm.thousandSeparator(item._price*item._quantity)"></td>
					<td class="text-center">
						<button type="button"
						        class="btn btn-red btn-xs"
						        data-toggle="tooltip"
						        title="Remover del presupuesto"
						        ng-click="vm.remove(item._id)">
							<i class="fa fa-remove"></i>
						</button>
						<button class="btn btn-blue btn-xs"
						        data-toggle="tooltip"
						        title="Ver detalles"
						        ng-click="vm.viewDetails(item)">
							<i class="fa fa-eye"></i>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row slideDown">
		<p class="center-block label label-red" ng-if="vm.items.length == 0">
			{{"NOTHING_IN_HERE" | translate}}
			<br><br>
			{{"YOU_MAY_BE_LOOKING_FOR" | translate}}
			<u class="mousePointer" ui-sref="site.services">{{"SERVICES" | translate | lowercase}}</u>
			<span translate="OR"></span>
			<u class="mousePointer" ui-sref="site.products">{{"PRODUCTS" | translate | lowercase}}</u>
		</p>
	</div>
</div>

<br>

<div class="container whiteCard" ng-hide="vm.items.length == 0" >
	<h2>Resumen</h2>
	<p><b>Subtotal total:</b> {{vm.getSubtotal(vm.items) | currency: 'Bs. '}}</p>
	<p><b>I.V.A.:</b> {{vm.calculos.IVA*100 | number: 2}}%</p>
	<p><b>Total:</b> {{vm.calculos.total | currency: 'Bs. '}}</p>
	<hr>
	<button class="btn btn-blue btn-sm pull-right"
	        ng-if="vm.getAuthData()"
	        ng-click="vm.getReport(vm.items, vm.calculos)">Solicitar presupuesto</button>
	<button class="btn btn-orange btn-sm pull-right"
	        ui-sref="auth.login({goBackTo: 'site.cart'})"
	        ng-if="!vm.getAuthData()">Inicia sesión para solicitar tu presupuesto</button>
	<br>
	<br>
</div>