<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Detalles del Servicio</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<!-- Product Image & Available Colors -->
			<div class="col-sm-6">
				<div class="product-image-large">
					<img ng-src="{{vm.service.image}}" alt="{{vm.service.name}}">
				</div>
			</div>
			<!-- End Product Image & Available Colors -->
			<!-- Product Summary & Options -->
			<div class="col-sm-6 product-details">
				<h4 ng-bind="vm.service.name"></h4>
				<p class="price" ng-bind="vm.service.price | currency: 'Bs. '"></p>
				<table class="shop-item-selections">
					<!-- Quantity -->
					<tr>
						<td><b>Existencia:</b></td>
						<td>
							<span ng-bind="vm.service.stock.quantity"></span>
							<span ng-bind="vm.service.stock.type"></span>
						</td>
					</tr>
					<tr ng-if="!vm.itemInCart(vm.service.id)">
						<td><b>Cantidad:</b></td>
						<td>
							<input type="text"
							       class="form-control input-sm input-micro"
							       ng-model="vm.service.addToCartQuantity">
						</td>
					</tr>
					<!-- Acciones -->
					<tr>
						<td ng-if="!vm.itemInCart(vm.service.id)">
							<button class="btn btn-sm btn-blue"
							        ng-disabled="!vm.service.stock.quantity>0"
							        ng-click="vm.addToCart(vm.service, vm.service.addToCartQuantity)">
								<i class="fa fa-shopping-cart"></i>  {{"ADD" | translate}}</a>
							</button>
						</td>
						<td ng-if="vm.itemInCart(vm.service.id)">
							<button class="btn btn-sm btn-orange"
							        ng-click="vm.removeItem(vm.service.id)">
								<i class="fa fa-shopping-cart"></i> {{"ADD" | translate}}</a>
							</button>
						</td>
					</tr>
				</table>
			</div>
			<!-- End Product Summary & Options -->
			
			<!-- Full Description & Specification -->
			<div class="col-sm-12">
				<div class="tabbable">
					<!-- Tabs -->
					<ul class="nav nav-tabs product-details-nav">
						<li class="active"><a data-toggle="tab">Descripción</a></li>
					</ul>
					<!-- Tab Content (Full Description) -->
					<div class="tab-content product-detail-info">
						<div class="tab-pane active" id="tab1">
							<h4><b>Descripción del Servicio</b></h4>
							<p ng-bind="vm.service.description"></p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Full Description & Specification -->
		</div>
	</div>
</div>
