<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row"><div class="col-md-12"><h1>Servicios</h1></div></div>
  </div>
</div>

<div class="eshop-section section pullDown">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <input type="text"
               name="filter.general"
               class="form-control input-md traslucentBox"
               placeholder="{{'FILTER' | translate}} {{'SERVICES' | translate | lowercase}}..."
               ng-model="vm.filter.name">
      </div>
      <div class="col-sm-4">
        <select name="filter.category"
               class="form-control"
               ng-model="vm.filter.category"
               ng-options="cat.name as cat.name for cat in vm.categories track by cat.id">
	        <option value="" selected>{{"ALL_CATEGORIES" | translate}}</option>
        </select>
      </div>
      <div class="col-sm-4" style="margin-bottom: 5px;">
        <select name="filter.orderBy"
                class="form-control input-md"
                ng-model="vm.filter.orderBy">
          <option value="" selected disabled>{{"ORDER_BY" | translate}}</option>
          <option value="+name">Alfabético (asc.)</option>
          <option value="-name">Alfabético (desc.)</option>
          <option value="+price">Precio (asc.)</option>
          <option value="-price">Precio (desc.)</option>
        </select>
      </div>
    </div>
	  <div class="row">
		  <services-list services="vm.services"
		                 name="vm.filter.name"
		                 category="vm.filter.category"
		                 order="vm.filter.orderBy"
		                 limit="none"></services-list>
	  </div>
  </div><!--.container-->
</div>