<div class="section section-breadcrumbs">
	<div class="container"><h1>Productos</h1></div>
</div>

<div class="eshop-section section pullDown">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<input type="text"
				       name="filter.general"
				       class="form-control input-md traslucentBox"
				       placeholder="{{'FILTER' | translate}} {{'PRODUCTS' | translate | lowercase}}..."
				       ng-model="vm.filter.general">
			</div>
			<div class="col-sm-4">
				<select name="filter.category"
				        class="form-control"
				        ng-options="cat.name as cat.name for cat in vm.categories track by cat.id"
				        ng-model="vm.filter.category">
					<option value="" selected>{{"ALL_CATEGORIES" | translate}}</option>
				</select>
			</div>
			<div class="col-sm-4" style="margin-bottom: 5px;">
				<select name="filter.orderBy"
				        class="form-control input-md"
				        ng-model="vm.filter.orderBy">
					<option value="" selected disabled>{{"ORDER_BY" | translate}}</option>
					<option value="+name">Alfabético (asc.)</option>
					<option value="-name">Alfabético (desc.)</option>
					<option value="+price">Precio (asc.)</option>
					<option value="-price">Precio (desc.)</option>
				</select>
			</div>
		</div>
		<div class="row">
			<products-list products="vm.products"
			               name="vm.filter.general"
			               category="vm.filter.category"
			               order="vm.filter.orderBy"
			               limit="none"></products-list>
		</div><!--.row => products list-->
	</div><!--.container-->
</div>
