<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Detalles del Producto</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<!-- Product Image & Available Colors -->
			<div class="col-sm-6">
				<div class="product-image-large">
					<img ng-src="{{vm.product.image}}" alt="{{vm.product.name}}">
				</div>
				<div class="colors">
					<span class="color-white"></span>
					<span class="color-black"></span>
					<span class="color-blue"></span>
					<span class="color-orange"></span>
					<span class="color-green"></span>
				</div>
			</div>
			<!-- End Product Image & Available Colors -->
			<!-- Product Summary & Options -->
			<div class="col-sm-6 product-details">
				<h4 ng-bind="vm.product.name"></h4>
				<p class="price" ng-bind="vm.product.price | currency: 'Bs. '"></p>
				<table class="shop-item-selections">
					<!-- Quantity -->
					<tr>
						<td><b>Existencia:</b></td>
						<td>
							<span ng-bind="vm.product.stock.quantity"></span>
							<span ng-bind="vm.product.stock.type"></span>
						</td>
					</tr>
					<tr>
						<td><b>Cantidad:</b></td>
						<td ng-if="!vm.itemInCart(vm.product.id)">
							<input type="number"
							       class="form-control input-sm input-micro"
							       ng-model="vm.product.addToCartQuantity"
							       min="1"
							       max="{{vm.product.stock.quantity}}">
						</td>
						<td ng-if="!!vm.itemInCart(vm.product.id)">
							<input type="number"
							       class="form-control input-sm input-micro"
							       ng-value="vm.itemInCart(vm.product.id)._quantity"
							       disabled>
						</td>
					</tr>
					<!-- Acciones -->
					<tr>
						<td ng-if="!vm.itemInCart(vm.product.id)">
							<button class="btn btn-sm btn-blue"
							        ng-disabled="!(0 < vm.product.addToCartQuantity < vm.product.stock.quantity)"
							        ng-click="vm.addToCart(vm.product, vm.product.addToCartQuantity)">
								<i class="fa fa-shopping-cart"></i> {{"ADD" | translate}}</a>
							</button>
						</td>
						<td ng-if="vm.itemInCart(vm.product.id)">
							<button class="btn btn-sm btn-orange" ng-click="vm.removeItem(vm.product.id)">
								<i class="fa fa-shopping-cart"></i> {{"ADD" | translate}}</a>
							</button>
						</td>
					</tr>
				</table>
			</div>
			<!-- End Product Summary & Options -->
			
			<!-- Full Description & Specification -->
			<div class="col-sm-12">
				<div class="tabbable">
					<!-- Tabs -->
					<ul class="nav nav-tabs product-details-nav">
						<li class="active"><a data-toggle="tab">Descripción</a></li>
					</ul>
					<!-- Tab Content (Full Description) -->
					<div class="tab-content product-detail-info">
						<div class="tab-pane active" id="tab1">
							<h4><b>Descripción del Producto</b></h4>
							<p ng-bind="vm.product.description"></p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Full Description & Specification -->
		</div>
	</div>
</div>
