<div class="row">
  <div class="col-sm-5 pull-left"><h4>Lista de Servicios</h4></div>
  <div class="col-sm-5 pull-right">
    <input type="text" class="form-control" ng-model="vm.filter" placeholder="Buscar servicio...">
  </div>
</div>

<div class="row">
  <loader arr="vm.services"></loader>
  <div class="table-responsive" ng-if="vm.services.length">
    <table class="table table-striped table-hover table-condensed">
      <thead>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio (Bs.)</th>
      <th>Acciones</th>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.services | filter: vm.filter track by $index">
        <td class="mousePointer"
            ng-click="vm.getServiceData(item, true)"
            data-toggle="modal"
            data-target="#dataModal">
          <span ng-bind="item.name"></span>
        </td>
        <td class="mousePointer"
            ng-click="vm.getServiceData(item, true)"
            data-toggle="modal"
            data-target="#dataModal">
          <span ng-bind="item.description | maxLength: 25"></span>
        </td>
        <td class="mousePointer"
            ng-click="vm.getServiceData(item, true)"
            data-toggle="modal"
            data-target="#dataModal"
            ng-bind="vm.thousandSeparator(item.price)"></td>
	      <td class="mousePointer">
		      <div class="btn-group-xs">
			      <button type="button"
			              class="btn btn-red"
			              title="Deshabilitado"
			              data-toggle="tooltip"
			              ng-if="!item.enabled"
			              ng-click="vm.changeServiceStatus(item.id)"><i class="fa fa-lg fa-times-circle"></i></button>
			      <button type="button"
			              class="btn btn-green"
			              title="Habilitado"
			              data-toggle="tooltip"
			              ng-if="item.enabled"
			              ng-click="vm.changeServiceStatus(item.id)"><i class="fa fa-lg fa-check-circle"></i></button>
			      <button type="button"
			              class="btn btn-orange"
			              title="Modificar"
			              data-toggle="modal"
			              data-target="#dataModal"
			              ng-click="vm.getServiceData(item, false)"><i class="fa fa-lg fa-pencil-square"></i></button>
			      <button type="button"
			              class="btn btn-grey"
			              title="Ver detalles"
			              data-toggle="modal"
			              data-target="#dataModal"
			              ng-click="vm.getServiceData(item, true)"><i class="fa fa-lg fa-eye"></i></button>
		      </div>
	      </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row pullDown">
  <p class="text-info pull-right mousePointer"
     style="padding-right: 18px"
     data-toggle="modal" data-target="#dataModal"
     ng-click="vm.getServiceData({})"><span class="fa fa-plus-circle"></span> Nuevo servicio
  </p>
  <p class="text-info pull-right mousePointer"
     style="padding-right: 18px"
     data-toggle="modal" data-target="#categoryModal"
     ng-click="vm.getAllCategories()">
    <span class="fa fa-sitemap"></span> Lista de categorias
  </p>
</div>

<!-- Service Modal -->
<div id="dataModal" class="modal fade fadeIn" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
        <h4 class="modal-title">
          Información de Servicio <span class="label label-purple" ng-if="vm.disableServiceModal">modo lectura</span>
        </h4>
      </div>
      <div class="modal-body">
        <form name="createService" role="form" novalidate ng-disabled="true">
          <fieldset ng-disabled="vm.disableServiceModal">
            <div class="form-group">
              <label for="productName">
                <i class="fa fa-hashtag text-danger text-muted"></i> <b>Nombre</b>
                <small class="text-danger">*</small>
              </label>
              <input type="text"
                     class="form-control"
                     id="productName"
                     name="productName"
                     ng-model="vm.service.name"
                     ng-pattern="vm.regexes.alphanumeric_255"
                     required>
            </div>
            <div class="form-group">
              <label for="productDescription">
                <i class="fa fa-ellipsis-h text-info"></i> <b>Descripción</b>
                <small class="text-danger">*</small>
              </label>
              <textarea type="text"
                        class="form-control"
                        id="productDescription"
                        name="productDescription"
                        ng-model="vm.service.description"
                        ng-pattern="vm.regexes.description"
                        rows="10"
                        required></textarea>
            </div>
            <div class="form-group">
              <label for="productPrice">
                <i class="fa fa-usd text-success"></i> <b>Precio (Bs.)</b>
                <small class="text-danger">*</small>
              </label>
              <input type="text"
                     class="form-control"
                     id="productPrice"
                     name="productPrice"
                     ng-model="vm.service.price"
                     ng-pattern="vm.regexes.price"
                     required>
            </div>
            <div class="form-group">
              <label for="productType">
                <i class="fa fa-sitemap text-warning"></i> <b>Categoría</b>
                <small class="text-danger">*</small>
              </label>
              <select name="productType" 
                      id="productType" 
                      class="form-control"
                      ng-model="vm.service.category" 
                      ng-options="cat.name as cat.name for cat in vm.categories track by cat.id"
                      required>
                <option value="" selected>Selecciona una categoría...</option>
              </select>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-md btn-info"
                data-dismiss="modal"
                ng-click="vm.setServiceData(vm.service)"
                ng-if="!vm.disableServiceModal"
                ng-disabled="createService.$invalid">Guardar</button>
        <button class="btn btn-md btn-warning"
                data-dismiss="modal">Salir</button>
      </div>
    </div>

  </div>
</div>

<!-- Category Modal -->
<div id="categoryModal" class="modal fade slideDown" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
        <h4 class="modal-title">Categorías de Servicio</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
              <th>Categoría</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.categories track by $index">
              <td ng-bind="item.name | maxLength: 15"></td>
              <td>
                <button type="button"
                        class="btn btn-xs btn-red"
                        title="Eliminar"
                        data-toggle="tooltip"
                        ng-click="vm.manageCategories('delete', item)"><i class="fa fa-lg fa-times-circle"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row"><div class="col-xs-12"><h4 class="pull-left">Nueva categoría</h4></div></div>
        <div class="row">
          <div class="col-sm-9">
            <input type="text" 
                   class="form-control"
                   ng-model="vm.category.name"
                   ng-pattern="vm.regexes.name"
                   placeholder="Nombre de la categoría...">
          </div>
          <div class="col-sm-3">
            <button type="button"
                    class="btn btn-block btn-green"
                    ng-disabled="!vm.regexes.name.test(vm.category.name) || !vm.category.name"
                    ng-click="vm.manageCategories('add', vm.category); vm.category = {}">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
