<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row"><h1 translate="LOGIN"></h1></div>
	</div>
</div>
<div class="section body_background">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="basic-login">
					<form role="form" name="loginForm" novalidate>
						<div class="form-group">
              <label for="loginEmail"><b translate="EMAIL_ADDRESS"></b></label>
							<input class="form-control"
								type="text"
								id="loginEmail"
                name="loginEmail"
								ng-model="vm.user.email"
                ng-pattern="vm.regexes.email"
                required>
              <div class="text-right" ng-if="loginForm.loginEmail.$touched && loginForm.loginEmail.$error">
                <p ng-if="loginForm.loginEmail.$error.required">Campo requerido.</p>
                <p ng-if="loginForm.loginEmail.$error.pattern">Campo inválido.</p>
              </div>
            </div>
						<div class="form-group">
              <label for="loginPassword"><b translate="PASSWORD"></b></label>
							<input class="form-control"
								type="password"
								id="loginPassword"
                name="loginPassword"
								ng-model="vm.user.password"
                ng-pattern="vm.regexes.password"
                required>
              <div class="text-right" ng-if="loginForm.loginPassword.$touched && loginForm.loginPassword.$error">
                <p ng-if="loginForm.loginPassword.$error.required">Campo requerido.</p>
                <p ng-if="loginForm.loginPassword.$error.pattern">Campo inválido.</p>
              </div>
						</div>
            <button class="btn btn-info btn-block pull-right"
                    ng-disabled="loginForm.$invalid"
                    translate="LOGIN"
                    ng-click="vm.logIn(vm.user)"></button>
						<p class="pull-right text-danger">{{vm.loginMessage}}</p>
            <br><br>
					</form>
				</div>
			</div>
			<div class="col-sm-7 social-login">
				<div class="social-login-buttons">
					<br>
          <button class="btn btn-warning" ui-sref="auth.resetPassword">{{"FORGOT_PASSWORD" | translate}}</button>
				</div>
				<div class="clearfix"></div>
				<div class="not-member">
					<p>...{{"OR" | translate}} <a ui-sref="auth.register">{{"SIGNUP" | translate | lowercase}}</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>
