<div class="section section-breadcrumbs"><div class="container"><h1>Mi perfil</h1></div></div>

<div class="container">
	<div class="row text-center">
		<h4>Bienvenido, <span ng-bind="vm.logged.name"></span>.</h4>
	</div>
	<div class="whiteCard">
		<div class="container">
			<p><b>Acerca de mí</b></p>
			<p>
				<b>Número de teléfono:</b>
				<span ng-bind="vm.logged.phone.preffix+'-'+vm.logged.phone.number"></span>
			</p>
			<p>
				<b>Correo electrónico:</b>
				<span ng-bind="vm.logged.email"></span>
			</p>
			<p>
				<b>Fecha de registro:</b>
				<span ng-bind="vm.logged.registerDate | date: 'dd/MM/yyyy'"></span>
			</p>
		</div>
	</div>
	<div class="whiteCard">
		<div class="container text-center">
				<h4>Mis pedidos</h4>
				<hr>
				<loader arr="vm.logged.myRequests"></loader>
		</div>
		<div class="table-responsive" ng-if="!!vm.logged.myRequests.length">
			<table class="table table-striped table-hover table-condensed">
				<thead>
				<tr>
					<th>Estado</th>
					<th>Fecha</th>
					<th>Monto (Bs.)</th>
					<th>Imprimir</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="request in vm.logged.myRequests | orderBy: request.sentDate | filter: {status: vm.filter.status}:true track by $index"
				    ng-click="vm.print(request)"
				    class="mousePointer">
					<td>
						<request-status switch="request.status"></request-status>
						<span class="small" ng-if="request.status === 'Planificación' && request.visit.date">(fecha de visita tentativa: {{request.visit.date | date: "dd/MM/yyyy"}})</span>
						<span class="small" ng-if="request.status === 'Planificado' && request.visit.date">(fecha de visita confirmada: {{request.visit.date | date: "dd/MM/yyyy"}})</span>
					</td>
					<td ng-bind="request.sentDate | date: dd/MM/yyyy"></td>
					<td ng-bind="vm.decimals(request.amount)"></td>
					<td><i class="fa fa-print text-info"></i></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="whitespace"></div>
<div class="whitespace"></div>