<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Registro de Usuarios</h1>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="basic-login">
					<form role="form" name="registerForm" ng-model="vm.user" novalidate>
						<div class="form-group">
							<label for="register_email">
								<b>Correo electrónico</b>
								<span class="required">*</span>
							</label>
							<div class="input-group">
								<i class="input-group-addon"><i class="fa fa-at"></i></i>
								<input class="form-control"
								       id="register_email"
								       name="register_email"
								       ng-model="vm.user.email"
								       ng-pattern="vm.regexes.email"
								       type="text"
								       placeholder="Ejemplo: direccion@email.com"
								       required>
							</div>
							<div ng-messages="registerForm.register_email.$error" ng-if="registerForm.register_email.$touched" class="pullUp">
								<span ng-message="required">Campo requerido</span>
								<span ng-message="pattern">Datos inválidos</span>
							</div>
						</div>
						<div class="form-group">
							<label for="register_idType">
								<b>Documento de identidad</b>
								<span class="required">*</span>
							</label>
							<div class="row">
								<div class="col-sm-6">
									<select id="register_idType"
									        name="register_idType"
									        class="form-control"
									        ng-model="vm.user.id.type"
									        ng-options="type.value as type.value for type in vm.identityDocumentsInfo"
									        required>
										<option value="" selected disabled>Selecciona un tipo...</option>
									</select>
								</div>
								<div class="col-md-6">
									<div class="input-group">
										<i class="input-group-addon"><i class="fa fa-sm fa-id-card"></i></i>
										<input type="text"
										       id="register_idNumber"
										       name="register_idNumber"
										       class="form-control"
										       ng-model="vm.user.id.number"
										       placeholder="Número de identidad"
										       ng-pattern="vm.regexes.numeric_9"
										       required>
									</div>
								</div>
							</div>
							<div ng-messages="register_idType.$error || registerForm.register_idNumber.$error"
							     ng-if="register_idType.$touched || registerForm.register_idNumber.$touched"
							     class="pullUp">
								<span ng-message="required">Campos requeridos</span>
								<span ng-message="pattern">Datos inválidos</span>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="register_name">
										<b>Nombre</b>
										<span class="required">*</span>
									</label>
									<div class="input-group">
										<i class="input-group-addon"><i class="fa fa-user"></i></i>
										<input type="text"
										       id="register_name"
										       name="register_name"
										       class="form-control"
										       ng-model="vm.user.name"
										       ng-pattern="vm.regexes.name"
										       placeholder="Ejemplo: Pedro"
										       required>
									</div>
									<div ng-messages="registerForm.register_name.$error" ng-if="registerForm.register_name.$touched" class="pullUp">
										<span ng-message="required">Campo requerido</span>
										<span ng-message="pattern">Datos inválidos</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="register_lastname">
										<b>Apellido</b>
										<span class="required">*</span>
									</label>
									<div class="input-group">
										<i class="input-group-addon"><i class="fa fa-user"></i></i>
										<input type="text"
										       id="register_lastname"
										       name="register_lastname"
										       class="form-control"
										       ng-model="vm.user.lastname"
										       ng-pattern="vm.regexes.name"
										       placeholder="Ejemplo: Pérez"
										       required>
									</div>
									<div ng-messages="registerForm.register_lastname.$error" ng-if="registerForm.register_lastname.$touched" class="pullUp">
										<span ng-message="required">Campo requerido</span>
										<span ng-message="pattern">Datos inválidos</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="register_password">
								<b>Contraseña</b>
								<span class="required">*</span>
							</label>
							<div class="input-group">
								<i class="input-group-addon"><i class="fa fa-lock"></i></i>
								<input type="password"
								       id="register_password"
								       name="register_password"
								       class="form-control"
								       ng-model="vm.user.password"
								       ng-pattern="vm.regexes.password"
								       placeholder="Incluye al menos seis caracteres..."
								       required>
							</div>
						</div>
						<div class="form-group">
							<label for="register_password2">
								<i class="fa fa-lock"></i> <b>Confirmar contraseña</b>
								<span class="required">*</span>
							</label>
							<div class="input-group">
								<i class="input-group-addon"><i class="fa fa-lock"></i></i>
								<input type="password"
								       id="register_password2"
								       name="register_password2"
								       class="form-control"
								       ng-model="vm.user.password2"
								       ng-pattern="vm.regexes.password"
								       placeholder="Repite tu contraseña"
								       required>
							</div>
							<p ng-if="!(vm.user.password === vm.user.password2)" class="pullUp">Las contraseñas no coinciden</p>
							<div ng-messages="registerForm.register_password2.$error" ng-if="registerForm.register_password2.$touched" class="pullUp">
								<span ng-message="required">Campo requerido</span>
								<span ng-message="pattern">Datos inválidos</span>
							</div>
						</div>
						<div class="form-group">
							<label for="register_telPreffix">
								<b>Número de Teléfono</b>
								<span class="required" ng-if="vm.user.phone.number || vm.user.phone.preffix">*</span>
							</label>
							<div class="row">
								<div class="col-sm-6">
									<select id="register_telPreffix"
									        name="register_telPreffix"
									        ng-model="vm.user.phone.preffix"
									        ng-options="item.number as item.number group by item.carrier for item in vm.preffixesList track by item.number"
									        class="form-control"
									        ng-required="vm.user.phone.number">
										<option value="" selected>Selecciona una operadora...</option>
									</select>
									<div ng-if="registerForm.register_telPreffix.$touched" class="pullUp"
									     ng-messages="registerForm.register_telPreffix.$error">
										<span ng-message="required">Campos requeridos</span>
										<span ng-message="pattern">Datos inválidos</span>
									</div>
									<div ng-if="registerForm.register_telNumber.$touched" class="pullUp"
									     ng-messages="registerForm.register_telNumber.$error">
										<span ng-message="required">Campos requeridos</span>
										<span ng-message="pattern">Datos inválidos</span>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<i class="input-group-addon"><i class="fa fa-phone"></i></i>
										<input type="text"
										       id="register_telNumber"
										       name="register_telNumber"
										       ng-model="vm.user.phone.number"
										       class="form-control"
										       ng-pattern="vm.regexes.phone_number"
										       placeholder="Ingresa tu número de teléfono"
										       ng-required="vm.user.phone.preffix">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group has-feedback">
							<div class="row">
								<div class="col-sm-6">
									<label for="register_birthdate">
										<b>Fecha de Nacimiento</b>
										<span class="required">*</span>
									</label>
									<div class="input-group" data-toggle="dropdown" data-target=".dropdown1-parent">
										<i class="input-group-addon"><i class="fa fa-calendar"></i></i>
										<input type="text"
										       id="register_birthdate"
										       class="form-control dropdown-toggle"
										       name="register_birthdate"
										       ng-pattern="vm.regexes.date"
										       placeholder="Indica tu fecha de nacimiento (DD-MM-AAAA)"
										       ng-model="vm.user.birthdate"
										       readonly required>
									</div>
									<ul class="dropdown-menu" role="menu">
										<datetimepicker ng-model="vm.user.birthdate"
										                datetimepicker-config="vm.options"
										                before-render="vm.startDateBeforeRender($dates)">
										</datetimepicker>
									</ul>
									<div ng-if="registerForm.register_birthdate.$touched" class="pullUp"
									     ng-messages="registerForm.register_birthdate.$error">
										<span ng-message="required">Campos requeridos</span>
										<span ng-message="pattern">Formato de fecha inválido</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="pull-left">
								<label for="register_ToS">
									<input type="checkbox"
									       id="register_ToS"
									       name="register_ToS"
									       ng-model="vm.user.ToS"
									       required>
									Acepto los
									<a data-toggle="modal"
									   data-target="#ToSModal"
									   title="Términos y Condiciones de Servicio"><u>Términos y Condiciones</u></a>
									del sitio
									<span class="required">*</span>
								</label>
							</div>
							<button type="button"
							        class="btn btn-block pull-right"
							        ng-click="vm.createUser(vm.user)"
							        ng-disabled="registerForm.$invalid">¡Regístrame!</button>
							<div class="clearfix"></div>
						</div>
						<h5 class="small">Los campos marcados con <span class="required">*</span> son obligatorios.</h5>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="whitespace"></div>
</div>

<!-- ToS Modal -->
<div id="ToSModal" class="modal fade slideDown" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
				<h4 class="modal-title"><i class="fa fa-bookmark" style="color:darkred"></i> Términos y condiciones de uso</h4>
			</div>
			<div class="modal-body">
				<strong>INFORMACIÓN RELEVANTE</strong>
				<p>
					Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los productos  que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.
					El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos. www.shipper.com.ve no asume la responsabilidad en caso de que entregue dicha clave a terceros.
					Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.
					Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las compras realizadas en este sitio web.
				</p>
				
				<strong>LICENCIA</strong>
				<p>
					Shipper  a través de su sitio web concede una licencia para que los usuarios utilicen  los productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.
				</p>
				
				<strong>USO NO AUTORIZADO</strong>
				<p>
					En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) usted no puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.
				</p>
				
				<strong>PROPIEDAD</strong>
				<p>
					Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin modificar. Todos los productos son propiedad  de los proveedores del contenido. En caso de que no se especifique lo contrario, nuestros productos se proporcionan  sin ningún tipo de garantía, expresa o implícita. En ningún esta compañía será  responsables de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros productos.
				</p>
				
				<strong>POLÍTICA DE REEMBOLSO Y GARANTÍA</strong>
				<p>
					En el caso de productos que sean  mercancías irrevocables no-tangibles, no realizamos reembolsos después de que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo.  Le pedimos que lea cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla cuando la descripción no se ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso pero este será especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas de fábrica y sólo se hará efectiva cuando el producto se haya usado correctamente. La garantía no cubre averías o daños ocasionados por uso indebido. Los términos de la garantía están asociados a fallas de fabricación y funcionamiento en condiciones normales de los productos y sólo se harán efectivos estos términos si el equipo ha sido usado correctamente. Esto incluye:
				<ul>
					<li>De acuerdo a las especificaciones técnicas indicadas para cada producto.</li>
					<li>En condiciones ambientales acorde con las especificaciones indicadas por el fabricante.</li>
					<li>En uso específico para la función con que fue diseñado de fábrica.</li>
					<li>En condiciones de operación eléctricas acorde con las especificaciones y tolerancias indicadas.</li>
				</ul>
				</p>
				
				<strong>COMPROBACIÓN ANTIFRAUDE</strong>
				<p>
					La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.
				</p>
				
				<strong>PRIVACIDAD</strong>
				<p>
					Este sitio web www.shipper.com.ve garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.
					La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al momento de crear su cuenta.
					Shipper reserva los derechos de cambiar o de modificar estos términos sin previo aviso.
					Estas terminos y condiciones se han generado en terminosycondicionesdeusoejemplo.com.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-green" data-dismiss="modal">¡Entendido!</button>
			</div>
		</div>
	
	</div>
</div>