<div class="section body_background">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="basic-login">
					<form role="form" role="form">
						<div class="form-group">
							<label for="login-username">
								<i class="fa icon-user"></i>
								<b>Correo electrónico</b>
							</label>
							<input class="form-control"
							       type="text"
							       id="login-username"
							       ng-model="vm.user.email"
							       placeholder="direccion@ejemplo.com">
						</div>
						<p ng-bind="vm.resetText" class="bg-success"></p>
						<p ng-if="vm.errorText" class="bg-danger">
							<strong>Error:</strong> <span ng-bind="vm.errorText"></span>
						</p>
						<div class="text-center">
							<button class="btn btn-info" ng-click="vm.resetPassword(vm.user)">Quiero recuperar mi contraseña</button>
							<br>
							<small>Nota: recibirás un correo con las instrucciones para reestablecer tu contraseña.</small>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
