<div class="row">
	<div class="col-sm-4 pull-left"><h4>Solicitudes de Visita</h4></div>
	<div class="col-sm-4 pull-right">
		<input type="text" class="form-control" ng-model="vm.filter.name" placeholder="Buscar solicitud...">
	</div>
	<div class="col-sm-4 pull-right">
		<select name="orderBy"
		        id="orderBy"
		        class="form-control"
		        ng-model="vm.filter.status">
			<option value="" selected>Todas las visitas</option>
			<option value="Planificación">En espera</option>
			<option value="Planificado">Próximas a realizar</option>
		</select>
	</div>
</div>

<div class="row">
	<loader arr="vm.messages"></loader>
	<div class="table-responsive" ng-if="vm.messages.length">
		<table class="table table-striped table-hover table-condensed">
			<thead>
			<tr>
				<th>Estado</th>
				<th>Fecha de Visita</th>
				<th>Acciones</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in vm.messages | filter: {author: vm.filter.name, status: vm.filter.status} track by item.id"
			    class="firebase login
			    mousePointer"
			    data-toggle="modal"
			    data-target="#messageModal"
			    ng-click="vm.getMessageData(item)">
				<td>
					<request-status switch="item.status"></request-status>
				</td>
				<td>
					<span ng-bind="item.visit.date | date: 'MMM. dd, yyyy'"></span>
				</td>
				<td>
					<span class="fa fa-lg fa-eye"
					      title="Ver detalles"
					      data-toggle="modal"></span>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="center-block label label-red slideDown" ng-if="!(vm.messages | filter: {status: vm.filter.orderBy}).length">
	<br>
	<p>No hay solicitudes de visita bajo los criterios especificados</p>
</div>

<!-- Message Modal -->
<div id="messageModal" class="modal fade slideDown" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
				<h4 class="modal-title">Información de la Solicitud</h4>
			</div>
			<div class="modal-body">
				<form name="messageModal" role="form" novalidate>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label><i class="fa fa-hashtag"></i> <b>Datos del remitente</b></label>
								<p>- <u>Nombre:</u> <span ng-bind="vm.message.author.name"></span></p>
								<p>- <u>Correo electrónico:</u> <span ng-bind="vm.message.author.email"></span></p>
							</div>
						</div>
					</div>
					<div class="row reply collapse in">
						<div class="col-md-6 col-xs-12">
							<label><i class="fa fa-info-circle"></i> <b>Estado:</b></label>
							<request-status switch="vm.message.status"></request-status>
						</div>
						<div class="col-md-6 col-xs-12">
							<label><i class="fa fa-sitemap"></i> <b>Categoría:</b></label>
							<span class="label label-green" ng-bind="vm.message.topic"></span>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<label><i class="fa fa-quote-left"></i> <b>Descripción:</b></label>
								<p style="text-indent: 12px; text-align: justify" ng-bind="vm.message.message"></p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-xs-12" ng-if="vm.message.has.services">
							<i class="fa fa-paper-plane"></i> <b>Servicios solicitados:</b>
							<p ng-repeat="service in vm.message.data" ng-if="service._data.type==='service'">
								• <a target="_blank" href="#/services/{{service._id}}" ng-bind="service._name">-</a>
							</p>
						</div>
						<div class="col-sm-6 col-xs-12" ng-if="vm.message.has.products">
							<i class="fa fa-paper-plane"></i> <b>Productos solicitados:</b>
							<p ng-repeat="product in vm.message.data" ng-if="product._data.type==='product'">
								• <a target="_blank" href="#/products/{{product._id}}" ng-bind="product._name">-</a>
							</p>
						</div>
					</div>
					<div class="row reply collapse">
						<hr>
						<div class="form-group col-sm-12">
							<span class="fa fa-check-circle-o fa-lg fa-2x text-success" ng-class="{'gray': !vm.message.visit.status}"></span>
							<span class="fa fa-times-circle-o fa-lg fa-2x text-danger" ng-class="{'gray': !!vm.message.visit.status}"></span>
							<label for="acceptVisit">
								<span ng-if="!!vm.message.visit.status">Esta visita será aceptada</span>
								<span ng-if="!vm.message.visit.status">Esta visita será rechazada</span>
							</label>
							<input type="checkbox"
							       name="acceptVisit"
							       id="acceptVIsit"
							       ng-model="vm.message.visit.status"
							       ng-click="vm.cleanUpData()">
							<br>
						</div>
						<div class="form-group col-sm-12" ng-if="!!vm.message.visit.status">
							<label for="fechaConfirmada">Confirma la fecha de visita</label>
							<input type="text"
							       id="fechaConfirmada"
							       name="fechaConfirmada"
							       title="Debes confirmar la visita para escoger una fecha"
							       class="form-control dropdown-toggle"
							       data-toggle="dropdown" data-target=".dropdown1-parent"
							       ng-pattern="vm.regexes.date"
							       ng-model="vm.message.visit.date"
							       ng-required="!!vm.message.visit.status"
							       readonly>
							<ul class="dropdown-menu" role="menu">
								<datetimepicker ng-model="vm.message.visit.date"
								                datetimepicker-config="vm.options"
								                before-render="vm.startDateBeforeRender($dates)">
								</datetimepicker>
							</ul>
						</div>
						<div class="form-group col-sm-12">
							<label for="comment">
								<span ng-if="!!vm.message.visit.status">¿Desea agregar algún comentario?</span>
								<span ng-if="!vm.message.visit.status">Indique el motivo de rechazo</span>
							</label>
							<textarea name="comment"
							          id="comment"
							          ng-model="vm.message.visit.comment"
							          class="form-control"
							          cols="5"
							          ng-required="!vm.message.visit.status"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="reply collapse in">
					<button class="btn btn-orange" data-dismiss="modal">Salir</button>
					<button class="btn btn-blue" data-toggle="collapse" href=".reply">Responder</button>
				</div>
				<div class="reply collapse">
					<button class="btn btn-orange" data-toggle="collapse" href=".reply">Volver</button>
					<button class="btn btn-blue"
					        data-toggle="collapse"
					        href=".reply"
					        ng-disabled="!!vm.message.visit.status && !vm.message.visit.date"
					        ng-click="vm.reply(vm.message.id, vm.message.visit)">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
</div>