<!-- PAGING: https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination#installation -->
<div class="row">
	<div class="col-md-3"
	     ng-repeat="product in products | filter: {'name': name, 'category': category, 'enabled': true} | orderBy: order | limitTo: limit track by product.id">
		<div class="shop-item">
			<div class="image">
				<a ng-href="#/products/{{product.id}}"><img ng-src="{{product.image}}" width="69px" height="58px" alt="{{product.name}}"></a>
			</div>
			<div class="title">
				<h3><a ng-href="#/products/{{product.id}}" ng-bind="product.name"></a></h3>
			</div>
			<div class="price" ng-if="false">
				<!-- should be adjustable, from the Panel -->
				<p ng-bind="product.price | currency: 'Bs. '"></p>
			</div>
			<div class="description">
				<span ng-bind="product.description | maxLength: 70"></span>
			</div>
			<div class="bottom">
				<div class="actions">
					<button class="btn btn-sm"
					        ng-if="!vm.itemInCart(product.id)"
					        ng-disabled="!product.stock.quantity>0"
					        ng-click="vm.quickAddToCart(product, 1)">
						<i class="glyphicon glyphicon-shopping-cart icon-white"></i> {{"ADD" | translate}}
					</button>
					<button class="btn btn-sm btn-orange"
					        ng-if="vm.itemInCart(product.id)"
					        ng-click="vm.quickRemoveFromCart(product.id)">
						<i class="fa fa-shopping-cart"></i> {{"REMOVE" | translate}}
					</button>
					<span> {{"OR" | translate}} <a ui-sref="site.products.details({productId: product.id})"><b translate="READ_MORE"></b></a></span>
				</div>
			</div>
			<div class="clearfix visible-lg" ng-if="($index+1)%4 === 0"></div>
			<div class="clearfix visible-md" ng-if="($index+1)%4 === 0"></div>
			<div class="clearfix visible-sm" ng-if="($index+1)%6 === 0"></div>
			<div class="clearfix visible-xs" ng-if="($index+1)%12 === 0"></div>
		</div>
	</div>
</div>

<div class="center-block label label-red slideDown" ng-if="!(products | filter: {'name': name, 'category': category, 'enabled': true}).length">
	<br>
	<p>{{"WE_ARE_SORRY" | translate}},</p>
	<p>{{"NO_ITEMS_AVAILABLE" | translate}}.</p>
</div>