<div class="whitespace"></div>
<div id="footer" class="footer navbar-fixed-bottom">
	<!-- ng-swipe-down to hide: -->
	<!-- https://www.npmjs.com/package/angular-swipe -->
	<div class="container">
		<div class="text-center floating mousePointer arrowContainer" data-toggle="collapse" href=".collapsable-footer">
			<p class="fa fa-arrow-up collapse in"></p>
		</div>
		<div class="row collapse collapsable-footer">
			<div class="col-footer col-md-3 hidden-sm hidden-xs">
				<h3>Navegación</h3>
				<ul class="no-list-style footer-navigate-section">
					<li class="smallLink" ui-sref="site" translate="HOME"></li>
					<li class="smallLink" ui-sref="site.services" translate="SERVICES"></li>
					<li class="smallLink" ui-sref="site.products" translate="PRODUCTS"></li>
					<li class="smallLink" ui-sref="site.contact" translate="CONTACT"></li>
				</ul>
			</div>
			<div class="col-footer col-md-3 hidden-sm hidden-xs">
				<h3>¡Encuéntranos!</h3>
				<div class="portfolio-item">
					<div class="portfolio-image">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1961.0062709267982!2d-71.67315070093129!3d10.578191078469882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x37fb53ae6d8d078d!2sSistemas+de+Propulsi%C3%B3n.+C.A!5e0!3m2!1ses-419!2sve!4v1502579257458"
							frameborder="0"
							style="border:0"
							allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="col-footer col-md-4 col-sm-6 col-xs-12">
				<h3>Contacto</h3>
				<p class="contact-us-details">
					<b>Ubicación: </b> Zona Industrial II Etapa, PI-4, Av. 67A, entre calles 149A y 149B. San Francisco - Edo. Zulia. Venezuela<br/>
					<b>Teléfono:</b> +58-61-7362575<br/>
					<b>Correos electrónicos:</b><br>
					— <a href="mailto:j.tamayo@sistemasdepropulsion.com">j.tamayo@sistemasdepropulsion.com</a><br>
					— <a href="mailto:m.fuentes@sistemasdepropulsion.com">m.fuentes@sistemasdepropulsion.com</a><br>
				</p>
			</div>
			<div class="col-footer col-md-2 col-sm-6 col-xs-12">
				<h3>Redes sociales</h3>
				<ul class="no-list-style footer-navigate-section">
					<li class="mousePointer">
						<a href="http://www.twitter.com">
							<span class="fa-stack fa-2x">
						  <i class="fa fa-circle fa-stack-2x" style="color: #69BFFF"></i>
						  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span> Twitter
						</a>
					</li>
					<li class="mousePointer">
						<a href="http://www.facebook.com">
							<span class="fa-stack fa-2x">
						  <i class="fa fa-circle fa-stack-2x" style="color: #2A51AB"></i>
						  <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i></span> Facebook
						</a>
					</li>
					<li class="mousePointer">
						<a href="http://www.youtube.com">
							<span class="fa-stack fa-2x">
						  <i class="fa fa-circle fa-stack-2x" style="color: rgba(255,0,0,0.47)"></i>
						  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i></span> YouTube
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="footer-copyright">&copy; 2013 mPurpose. {{"ALL_RIGHTS_RESERVED" | translate}}.</div>
		</div>
	</div>
</div>
</div>
<script>
	$(function(){
		$(".arrowContainer").on("click", function(){
			$(this).toggleClass("rotated");
		});
	});
</script>
