<div class="container-fluid noselect">
	<!-- Second navbar for sign in -->
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="mousePointer middleVerticalAlign" ui-sref="site">
					<img src="img/00shipperlogo.png" height="56" width="56" alt="logo.png">
					<span style="font-size: 2em;"><em>Shipper</em></span>
				</div>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-2">
				<ul class="nav navbar-nav navbar-right navbarLink" data-toggle="collapse" href="#navbar-collapse-2">
					<li>
            <span class="mousePointer" ui-sref="site.cart" ui-sref-active-eq="label label-active">
	            <i class="glyphicon glyphicon-shopping-cart icon-white"></i>
	            <b>{{vm.howManyItems}} {{"ARTICLE" | translate}}<span ng-if="vm.howManyItems !== 1">s</span></b>
            </span>
					</li>
					<li class="mousePointer">
						<span ui-sref="site" ui-sref-active-eq="label label-active" translate="HOME"></span>
					</li>
					<li class="mousePointer">
						<span ui-sref="site.services" ui-sref-active-eq="label label-active" translate="SERVICES"></span>
					</li>
					<li class="mousePointer">
						<span ui-sref="site.products" ui-sref-active-eq="label label-active" translate="PRODUCTS"></span>
					</li>
					<li class="mousePointer">
						<span ui-sref="site.contact" ui-sref-active-eq="label label-active" translate="CONTACT"></span>
					</li>
					<li class="mousePointer center-block" ng-switch="vm.isLogged().role" ng-if="!!vm.isLogged()">
						<span class="label label-blue" ui-sref="site.me" ng-bind="vm.isLogged().name | maxLength: 10"></span>
						<span ng-switch-when="admin" class="label label-green" ui-sref="site.admin">Administración</span>
						<span ng-switch-when="operator" class="label label-green" ui-sref="site.admin">Administración</span>
						<span ng-switch-when="technician" class="label label-purple" ui-sref="site.admin.tech">Técnicos</span>
					</li>
					<li>
						<span class="mousePointer">
							<img src="img/flags/es.png" alt="flag.png" title="{{'READ_IN' | translate}} {{'SPANISH' | translate}}" ng-click="vm.setLang('es-ES')">
							<img src="img/flags/us.png" alt="flag.png" title="{{'READ_IN' | translate}} {{'ENGLISH' | translate}}" ng-click="vm.setLang('en-US')">
						</span>
					</li>
					<li ng-if="!vm.isLogged()">
						<span class="mousePointer" ui-sref="auth.login" ui-sref-active-eq="label label-active">
							<span class="label label-blue">{{"LOGIN" | translate}} / {{"SIGNUP" | translate | lowercase}}</span>
						</span>
					</li>
					<li ng-if="vm.isLogged()" ng-click="vm.logOut()">
						<i class="fa fa-sign-out"></i>
						<span class="mousePointer" ui-sref="site" translate="LOGOUT"></span>
					</li>
				</ul>
				<div class="collapse nav navbar-nav nav-collapse" id="nav-collapse2">
					<form class="navbar-form navbar-right form-inline" role="form">
						<div class="form-group">
							<label class="sr-only" for="Email">Email</label>
							<input type="email" class="form-control" id="Email" placeholder="Email" autofocus required />
						</div>
						<div class="form-group">
							<label class="sr-only" for="Password">Password</label>
							<input type="password" class="form-control" id="Password" placeholder="Password" required />
						</div>
						<button type="submit" class="btn btn-success">Sign in</button>
					</form>
				</div>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav><!-- /.navbar -->

</div><!-- /.container-fluid -->

<div class="mainmenu-wrapper" ng-hide="true">
	<div class="container">
		<div class="menuextras">
			<div class="extras">
				<ul class="mousePointer">
					<li ng-if="!vm.isLogged()" class="growText smallLink" ui-sref="auth.login">Iniciar sesión</li>
					<li ng-if="vm.isLogged().role==='admin'" class="mousePointer growText">
						<span class="label label-green" ui-sref="site.admin">Administración</span>
					</li>
					<li ng-if="vm.isLogged()" class="growText" ui-sref="site.users">
						<i class="fa fa-user-circle-o"></i>
						Mi perfil
					</li>
					<li ng-if="vm.isLogged()" class="growText" ng-click="vm.logOut()">
						<i class="fa fa-sign-out"></i>
						Cerrar sesión
					</li>
				</ul>
			</div>
		</div>
		<nav id="mainmenu" class="mainmenu">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
					        data-toggle="collapse"
					        data-target="#navcollapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<section  class="mousePointer">
						<div ui-sref="site">
							<img src="img/00shipperlogo.png" height="64" width="64" alt="logo.png">
							<span style="font-size: 2em;"><em>Shipper</em></span>
						</div>
						<div id="navcollapse" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li class="shopping-cart-items" ui-sref="site.cart">
									<i class="glyphicon glyphicon-shopping-cart icon-white"></i>
									<b>{{vm.howManyItems}} artículo(s)</b>
								</li>
								<li class="bigLink mousePointer fadeInDiv" ui-sref="site">Inicio</li>
								<li class="bigLink mousePointer fadeInDiv" ui-sref="site.services">Servicios</li>
								<li class="bigLink mousePointer fadeInDiv" ui-sref="site.products">Productos</li>
								<li class="bigLink mousePointer fadeInDiv" ui-sref="site.contact">Contacto</li>
								<li class="bigLink mousePointer fadeInDiv has-submenu">Más
									<div class="mainmenu-submenu">
										<div class="mainmenu-submenu-inner">
											<div>
												<h4>Homepage</h4>
												<ul>
													<li><a href="#">Homepage (Sample 1)</a></li>
													<li><a href="#">Homepage (Sample 2)</a></li>
												</ul>
												<h4>Services & Pricing</h4>
												<ul>
													<li><a href="#">Services/Features (Rows)</a></li>
													<li><a href="#">Services/Features (3 Columns)</a></li>
													<li><a href="#">Services/Features (4 Columns)</a></li>
													<li><a href="#">Pricing Table</a></li>
												</ul>
												<h4>Team & Open Vacancies</h4>
												<ul>
													<li><a href="#">Our Team</a></li>
													<li><a href="#">Open Vacancies (List)</a></li>
													<li><a href="#">Open Vacancies (Job Details)</a></li>
												</ul>
											</div>
											<div>
												<h4>Our Work (Portfolio)</h4>
												<ul>
													<li><a href="#">Portfolio (2 Columns, Option 1)</a></li>
													<li><a href="#">Portfolio (2 Columns, Option 2)</a></li>
													<li><a href="#">Portfolio (3 Columns, Option 1)</a></li>
													<li><a href="#">Portfolio (3 Columns, Option 2)</a></li>
													<li><a href="#">Portfolio Item (Project) Description</a></li>
												</ul>
												<h4>General Pages</h4>
												<ul>
													<li><a href="#">About Us</a></li>
													<li><a href="#">Contact Us</a></li>
													<li><a href="#">Frequently Asked Questions</a></li>
													<li><a href="#">Testimonials & Clients</a></li>
													<li><a href="#">Events</a></li>
													<li><a href="#">404 Page</a></li>
													<li><a href="#">Sitemap</a></li>
													<li><a href="#">Login</a></li>
													<li><a href="#">Register</a></li>
													<li><a href="#">Password Reset</a></li>
													<li><a href="#">Terms & Privacy</a></li>
													<li><a href="#">Coming Soon</a></li>
												</ul>
											</div>
											<div>
												<h4>eShop</h4>
												<ul>
													<li><a href="#">Products listing (3 Columns)</a></li>
													<li><a href="#">Products listing (4 Columns)</a></li>
													<li><a href="#">Products Slider</a></li>
													<li><a href="#">Product Details</a></li>
													<li><a href="#">Shopping Cart</a></li>
												</ul>
												<h4>Blog</h4>
												<ul>
													<li><a href="#">Blog Posts (List)</a></li>
													<li><a href="#">Blog Single Post (Right Sidebar)</a></li>
													<li><a href="#">Blog Single Post (Left Sidebar)</a></li>
													<li><a href="#">Latest & Featured News</a></li>
												</ul>
											</div>
										</div><!-- /mainmenu-submenu-inner -->
									</div><!-- /mainmenu-submenu -->
								</li>
							</ul>
						</div>
					</section>
					<br>
				</div>
			</div>
		</nav>
	</div>
</div>
