<span ng-switch="switch">
	<span class="label label-green"  ng-switch-when="Atendido">Atendido</span>
	<span class="label label-green"  ng-switch-when="Aprobado">Aprobado</span>
	<span class="label label-red"    ng-switch-when="Rechazado">Rechazado</span>
	<span class="label label-yellow" ng-switch-when="En proceso">En proceso</span>
	<span class="label label-purple" ng-switch-when="Planificación">Planificación</span>
	<span class="label label-purple" ng-switch-when="Planificado">Planificado</span>
	<span class="label label-yellow" ng-switch-default>Pendiente</span>
</span>