<div class="container">
	<div class="row slideDown">
		<div align="center" style="margin-top: 20%">
			<h1><em>Shipper</em></h1>
			<p><b>404</b>. Ha ocurrido un error.</p>
			<a ui-sref="site"><b>Ir al inicio</b></a>.
		</div>
	</div>
	<div class="navbar-fixed-bottom text-centered">
		<div class="col-xs-3"><img src="img/wreck.svg"></div>
	</div>
</div>