<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row"><div class="col-md-6"><h1>Contáctanos</h1></div></div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<!-- Contact Form -->
				<h3>Envíanos un mensaje</h3>
				<div class="contact-form-wrapper">
					<form class="form-horizontal" name="contactForm" ng-model="vm.contact" role="form" novalidate>
						<div class="form-group">
							<label for="Name" class="col-sm-3 control-label"><b>Nombre y apellido</b></label>
							<div class="col-sm-9">
								<input type="text"
								       ng-disabled="vm.lock"
								       class="form-control"
								       name="contactForm.author.name"
								       ng-model="vm.message.author.name"
								       id="Name"
								       required>
							</div>
						</div>
						<div class="form-group">
							<label for="contact-email" class="col-sm-3 control-label"><b>Correo electrónico</b></label>
							<div class="col-sm-9">
								<input type="text"
								       ng-disabled="vm.lock"
								       class="form-control"
								       name="contactForm.author.email"
								       ng-model="vm.message.author.email"
								       id="contact-email"
								       required>
							</div>
						</div>
						<div class="form-group">
							<label for="contact-message" class="col-sm-3 control-label"><b>Selecciona un tema</b></label>
							<div class="col-sm-9">
								<select class="form-control"
								        ng-disabled="vm.lock"
								        name="contactForm.topic"
								        ng-model="vm.message.topic" id="prependedInput" required>
									<option value="" selected disabled>Listado de temas</option>
									<option value="Información">Información</option>
									<option value="Productos" translate="PRODUCTS"></option>
									<option value="Servicios" translate="SERVICES"></option>
									<option value="Otros">Otros</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="contact-message" class="col-sm-3 control-label"><b>Mensaje</b></label>
							<div class="col-sm-9">
                <textarea class="form-control"
                          ng-disabled="vm.lock"
                          name="contactForm.message"
                          ng-model="vm.message.message"
                          rows="5"
                          id="contact-message"
                          required></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-3 col-md-9 col-sm-12">
								<p class="bg-success" ng-if="vm.lock">Mensaje enviado</p>
								<button ng-click="vm.sendMessage(vm.message)"
								        ng-disabled="contactForm.$invalid || vm.lock"
								        class="btn btn-block">Enviar</button>
							</div>
						</div>
					</form>
				</div>
				<!-- End Contact Info -->
			</div>
			<div class="col-sm-7 whiteCard">
				<!-- Map -->
				<div id="contact-us-map" class="stretchLeft" style="position: relative; margin-top: 12px;">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1961.0062709267982!2d-71.67315070093129!3d10.578191078469882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x37fb53ae6d8d078d!2sSistemas+de+Propulsi%C3%B3n.+C.A!5e0!3m2!1ses-419!2sve!4v1502579257458"
						frameborder="0"
						class="fullMap"
						allowfullscreen></iframe>
				</div>
				<!-- End Map -->
				<!-- Contact Info -->
				<p class="contact-us-details">
					<b>Ubicación:</b> Zona Industrial II Etapa, PI-4, Av. 67A, entre calles 149A y 149B. San Francisco - Edo. Zulia. Venezuela<br/>
					<b>Teléfono:</b> +58 (261) 7362575<br>
					<b>Correos electrónicos:</b><br>
					— <a href="mailto:j.tamayo@sistemasdepropulsion.com">j.tamayo@sistemasdepropulsion.com</a><br>
					— <a href="mailto:m.fuentes@sistemasdepropulsion.com">m.fuentes@sistemasdepropulsion.com</a><br>
				</p>
				<!-- End Contact Info -->
			</div>
		</div>
	</div>
</div>