<div class="section section-breadcrumbs mousePointer" ui-sref="site.admin">
	<div class="container">
		<div class="row"><h1>Administración</h1></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<div class="tabs-left">
				<div class="tab-content">
					<div class="tab-pane active">
						<ul class="list-group pull-left">
							<li class="list-group-item fadeInDiv mousePointer" ui-sref="site.admin.reports" ui-sref-active-eq="label label-active">
								<h4>Reportes</h4>
							</li>
							<li class="list-group-item fadeInDiv mousePointer" ui-sref="site.admin.sales" ui-sref-active-eq="label label-active">
								<h4>Comercialización <span class="badge badge-orange" ng-bind="(vm.contactCount | filter:{'status': false}).length"></span></h4>
							</li>
							<li class="list-group-item fadeInDiv mousePointer" ui-sref="site.admin.products" ui-sref-active-eq="label label-active">
								<h4>Productos</h4>
							</li>
							<li class="list-group-item fadeInDiv mousePointer" ui-sref="site.admin.services" ui-sref-active-eq="label label-active">
								<h4>Servicios</h4>
							</li>
							<li class="list-group-item fadeInDiv mousePointer" ui-sref="site.admin.tech" ui-sref-active-eq="label label-active">
								<h4>Técnicos</h4>
								<span class="badge badge-red"></span>
							</li>
							<li class="list-group-item fadeInDiv mousePointer" ui-sref="site.admin.users" ui-sref-active-eq="label label-active">
								<h4>Usuarios</h4>
							</li>
						</ul>
					</div>
				</div><!-- /tab-content -->
			</div><!-- /tabbable -->
		</div><!-- /col -->
		<div class="col-xs-8 whiteCard" ui-view="adminContentCard">
			<div class="text-center">
				<p class="fa fa-cog fa-5x slowSpin"></p>
				<h3>Bienvenido al panel de Administración</h3>
			</div>
		</div>
	</div><!-- /row -->
</div><!-- /container -->
