<br>
<div class="panel panel-primary">
  <div class="panel-heading">Comercialización</div>
  <div class="panel-body">
    <img src="" alt="img-reporte-solicitudes.png">
    Contactos, solicitudes...
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">Servicios/Mantenimientos</div>
  <div class="panel-body">
    <img src="" alt="img-reporte-solicitudes.png">
    Solicitados, realizados, por realizar...
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Inventario</div>
  <div class="panel-body">
    <img src="" alt="img-reporte-solicitudes.png">
    Existencias, valores de venta, ventas...
  </div>
</div>
