<div class="row">
	<div class="col-sm-5 pull-left"><h4>Lista de Mensajes</h4></div>
	<div class="col-sm-5 pull-right">
		<input type="text" class="form-control" ng-model="vm.filter" placeholder="Buscar mensaje...">
	</div>
</div>

<div class="row">
	<loader arr="vm.messages"></loader>
	<div class="table-responsive" ng-if="vm.messages.length">
		<table class="table table-striped table-hover table-condensed">
			<thead>
			<th class="text-center">Estado</th>
			<th class="text-center">Categoría</th>
			<th class="text-center">Descripción</th>
			<th class="text-center">Fecha</th>
			<th class="text-center">Monto (Bs.)</th>
			<th class="text-center">Acciones</th>
			</thead>
			<tbody>
			<tr ng-repeat="item in vm.messages | filter: vm.filter track by $index"
			    class="mousePointer"
			    data-toggle="modal"
			    data-target="#messageDataModal">
				<td class="text-center" ng-click="vm.getMessageData(item)">
					<request-status switch="item.status"></request-status>
				</td>
				<td ng-click="vm.getMessageData(item)">
					<span ng-bind="item.topic"></span>
				</td>
				<td ng-click="vm.getMessageData(item)">
					<span ng-bind="item.message | maxLength: 25"></span>
				</td>
				<td ng-click="vm.getMessageData(item)">
					<span ng-bind="item.sentDate | date: 'MMM. dd, yyyy'"></span>
				</td>
				<td ng-click="vm.getMessageData(item)">
					<span ng-if="item.amount" ng-bind="vm.thousandSeparator(item.amount)"></span><span ng-if="!item.amount">N/A</span>
				</td>
				<td>
					<div class="btn-group-xs">
					<button class="btn btn-green"
					      title="Responder"
					      data-toggle="modal"
					      ng-click="vm.getMessageData(item)"><span class="fa fa-lg fa-reply"></span></button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Product Modal -->
<div id="messageDataModal" class="modal fade slideDown" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
				<h4 class="modal-title">Información del Mensaje</h4>
			</div>
			<div class="modal-body">
				<div class="hideable collapse in">
					<form name="messageModal" role="form" novalidate>
						<fieldset ng-disabled="vm.disableModal">
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="form-group">
										<label><i class="fa fa-hashtag"></i> <b>Datos del remitente</b></label>
										<p>- <u>Nombre:</u> <span ng-bind="vm.message.author.name"></span></p>
										<p>- <u>Correo electrónico:</u> <span ng-bind="vm.message.author.email"></span></p>
									</div>
									<div class="form-group">
										<label><i class="fa fa-clock-o"></i> <b>Enviado el</b></label>
										<span ng-bind="vm.message.sentDate | date: 'dd/MMM/yyyy (hh:mm a)'"></span>
									</div>
									<div class="form-group">
										<label><i class="fa fa-info-circle"></i> <b>Estado:</b>
										<request-status switch="vm.message.status"></request-status>
										</label>
									</div>
									<div class="form-group">
										<label><i class="fa fa-sitemap"></i> <b>Categoría:</b></label>
										<span class="label label-green" ng-bind="vm.message.topic"></span>
									</div>
									<div class="form-group">
										<label><i class="fa fa-quote-left"></i> <b>Descripción:</b></label>
										<p style="text-indent: 12px; text-align: justify" ng-bind="vm.message.message"></p>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="form-group" ng-if="vm.message.has.products">
										<i class="fa fa-paper-plane"></i> <b>Productos solicitados:</b>
										<p ng-repeat="product in vm.message.data">
											• <a target="_blank" href="#/products/{{product._id}}" ng-bind="product._name">-</a>
											<span class="small text-muted" ng-bind="'(cantidad: '+product._quantity+')'"></span>
										</p>
									</div>
									<div class="form-group" ng-if="vm.message.has.services">
										<i class="fa fa-paper-plane"></i> <b>Servicios solicitados:</b>
										<p ng-repeat="service in vm.message.data">
											• <a target="_blank" href="#/services/{{service._id}}" ng-bind="service._name">-</a>
											<span class="small text-muted" ng-bind="'(cantidad: '+service._quantity+')'"></span>
										</p>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="hideable collapse">
					<form name="setVisitForm" role="form" novalidate>
						<div class="form-group">
							<label for="setVisit">Asignar un técnico</label>
							<select name="setVisit"
							        id="setVisit"
							        ng-model="vm.planif.techId"
							        ng-options="tech.$id as tech.name+' '+tech.lastname+' ('+tech.id.type+'-'+tech.id.number+')' for tech in vm.technicians | filter: {'role': 'technician'} track by tech.id"
							        class="form-control"
							        required>
								<option value="" selected>Lista de Técnicos</option>
							</select>
							<div class="form-group">
								<div class="dropdown dropdown1-parent">
									<label for="fechaVisita">Fecha de visita</label>
									<input type="text"
									       id="fechaVisita"
									       name="fechaVisita"
									       class="form-control dropdown-toggle"
									       data-toggle="dropdown" data-target=".dropdown1-parent"
									       ng-pattern="vm.regexes.date"
									       ng-model="vm.planif.date"
									       readonly
									       required>
									<ul class="dropdown-menu" role="menu">
										<datetimepicker ng-model="vm.planif.date"
										                datetimepicker-config="vm.options"
										                before-render="vm.startDateBeforeRender($dates)">
										</datetimepicker>
									</ul>
								</div>
							</div>
							<div class="form-group">
								<label for="comment">¿Deseas añadir algún comentario?</label>
								<input type="text"
								       id="comment"
								       name="comment"
								       class="form-control"
								       ng-model="vm.planif.comment"
								       ng-pattern="vm.regexes.description">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<div class="hideable collapse in">
					<button class="btn btn-orange" data-dismiss="modal">Salir</button>
					<button class="btn btn-red"
					        ng-click="vm.reply(vm.message.id, 'Rechazado')"
					        ng-disabled="!!vm.message.status">Rechazar</button>
					<button class="btn btn-gren"
					        ng-click="vm.reply(vm.message.id, 'Aprobado')"
					        ng-if="!vm.message.has.services"
					        ng-disabled="!!vm.message.status">Aprobar</button>
					<button class="btn btn-blue"
					        ng-if="vm.message.has.services"
					        ng-disabled="!!vm.message.status"
					        data-toggle="collapse"
					        href=".hideable">Planificar visita</button>
				</div>
				<div class="hideable collapse" data-toggle="collapse" href=".hideable">
					<button class="btn btn-orange">Volver</button>
					<button class="btn btn-green"
					        ng-disabled="setVisitForm.$invalid"
					        ng-click="vm.setVisit(vm.message.id, vm.planif)">Asignar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Category Modal -->
<div id="categoryModal" class="modal fade slideDown" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
				<h4 class="modal-title">Categorías de Producto</h4>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table table-striped table-hover table-condensed">
						<thead>
						<tr>
							<th>Categoría</th>
							<th>Descripción</th>
							<th>Acciones</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in vm.categories | filter: vm.filter.categories track by $index">
							<td ng-bind="item.name"></td>
							<td ng-bind="item.desc"></td>
							<td ng-bind="item.status"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
